* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
}

body {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 30%;
  text-align: center;
}

.main-section {
  background-color: #455A64;
  width: 50%;
  height: 820px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.enter-button {
  width: 83%;
  font-size: 20px;
  background-color: #FFC107;
  color: #FFFFFF;
  margin-top: 10%;
  padding: 2%;
}

.title-input,
.url-input {
  width: 80%;
  font-size: 35px;
  color: #CFD8DC;
  margin-top: 10%;
  padding: 1%;
}

.logo {
  width: 14%;
  height: 7%;
}

.main-empty {
  background-color: #CFD8DC;
  width: 50%;
  display: block;
  padding-left: 5%;
}

.bookmark-card {
  border: 1px solid #607D8B;
  width: 85%;
  height: 25%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FFFFFF;
  margin-top: 5%;
}

.website-title {
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
  border-width: 35%;
  font-size: 35px;
}

a,
.website-url {
  color: #607D8B;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding: 3% 0%;
}

.delete-button,
.read-button {
  color: #455A64;
  margin-top: 3%;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

a:hover,
.website-url:hover,
.read-button:hover {
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #FFC107;
  font-weight: bold;
}

.card-button {
  border-top: 1px solid #CFD8DC;
  border-width: 35%;
  color: #455A64;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.enter-button:hover {
  background-color: #FFD773;
}

.bookmark-read {
  border: 1px solid #607D8B;
  width: 85%;
  height: 25%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F2F4F4;
  margin-top: 5%;
}

.text-read {
  color: red;
  font-weight: bold;
}
